<% if (notification) { %>
<div
  class="alert alert-<%= notification.type %> alert-dismissible fade show mt-3"
  role="alert"
>
  <% notification.message.forEach(m => { %>
  <div><%= m %></div>
  <% }) %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>

<main>
  <h1>This is <%= title %></h1>
  <button
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#addModal"
  >
    Create New Contact
  </button>
  <% if (data.length > 0) { %>
  <table class="table">
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>E-Mail</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach((contact,i) => { %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= contact.name %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.email %></td>
        <td>
          <button
            class="btn btn-outline-primary btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#detailModal"
            data-index="<%= contact.id %>"
            data-name="<%= contact.name %>"
            data-phone="<%= contact.phone %>"
            data-email="<%= contact.email %>"
          >
            Details
          </button>
          <button
            class="btn btn-outline-warning btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#editModal"
            data-index="<%= contact.id %>"
            data-name="<%= contact.name %>"
            data-phone="<%= contact.phone %>"
            data-email="<%= contact.email %>"
          >
            Edit
          </button>
          <form
            action="/contact/delete/<%= contact.id %>"
            method="POST"
            style="display: inline"
          >
            <button
              class="btn btn-outline-danger btn-sm"
              type="submit"
              onclick="return confirm('Sure you want to delete?');"
            >
              Delete
            </button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } else { %>
  <p>Data not available</p>
  <% } %>
</main>

<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  aria-labelledby="addModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addModalLabel">New Contacts</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <% if (notification) { %>
      <div
        class="alert alert-<%= notification.type %> alert-dismissible fade show mt-3 mx-3"
        role="alert"
      >
        <% notification.message.forEach(m => { %>
        <div><%= m %></div>
        <% }) %>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %>
      <div class="modal-body">
        <form action="/contact/add" method="POST">
          <div class="mb-3">
            <label for="name" class="col-form-label">Name:</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              required
              value="<%= typeof prevInput !== 'undefined' ? prevInput.name : '' %>"
            />
          </div>
          <div class="mb-3">
            <label for="phone" class="col-form-label">Phone Number:</label>
            <input
              type="tel"
              class="form-control"
              id="phone"
              name="phone"
              required
              value="<%= typeof prevInput !== 'undefined' ? prevInput.phone : '' %>"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="col-form-label">Email:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
              value="<%= typeof prevInput !== 'undefined' ? prevInput.email : '' %>"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save Contact</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="detailModal"
  tabindex="-1"
  aria-labelledby="detailModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="detailModalLabel">Detail contact</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p><strong>Name:</strong> <span id="detail-name"></span></p>
        <p><strong>Phone Number:</strong> <span id="detail-phone"></span></p>
        <p><strong>Email:</strong> <span id="detail-email"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Tutup
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editModalLabel">Edit contact</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <% if (notification) { %>
      <div
        class="alert alert-<%= notification.type %> alert-dismissible fade show mt-3 mx-3"
        role="alert"
      >
        <% notification.message.forEach(m => { %>
        <div><%= m %></div>
        <% }) %>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %>
      <div class="modal-body">
        <form
          id="editForm"
          method="POST"
          action="/contact/edit/<%= typeof id !== 'undefined' ? id : '' %>"
        >
          <div class="mb-3">
            <label for="edit-name" class="col-form-label">Name:</label>
            <input
              type="text"
              class="form-control"
              id="edit-name"
              name="name"
              required
              value="<%= typeof prevInput !== 'undefined' ? prevInput.name : '' %>"
            />
          </div>
          <div class="mb-3">
            <label for="edit-phone" class="col-form-label">Phone Number:</label>
            <input
              type="tel"
              class="form-control"
              id="edit-phone"
              name="phone"
              required
              value="<%= typeof prevInput !== 'undefined' ? prevInput.phone : '' %>"
            />
          </div>
          <div class="mb-3">
            <label for="edit-email" class="col-form-label">Email:</label>
            <input
              type="email"
              class="form-control"
              id="edit-email"
              name="email"
              required
              value="<%= typeof prevInput !== 'undefined' ? prevInput.email : '' %>"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const detailModal = document.getElementById("detailModal");
  detailModal.addEventListener("show.bs.modal", (event) => {
    const button = event.relatedTarget;
    const name = button.getAttribute("data-name");
    const phone = button.getAttribute("data-phone");
    const email = button.getAttribute("data-email");
    detailModal.querySelector("#detail-name").textContent = name;
    detailModal.querySelector("#detail-phone").textContent = phone;
    detailModal.querySelector("#detail-email").textContent = email;
  });

  const editModal = document.getElementById("editModal");
  editModal.addEventListener("show.bs.modal", (event) => {
    const isError =
      "<%= typeof openModal !== 'undefined' && openModal === 'editModal' %>";
    if (isError === "true") return;

    const button = event.relatedTarget;
    const index = button.getAttribute("data-index");
    const name = button.getAttribute("data-name");
    const phone = button.getAttribute("data-phone");
    const email = button.getAttribute("data-email");

    const editForm = editModal.querySelector("#editForm");
    editModal.querySelector("#edit-name").value = name;
    editModal.querySelector("#edit-phone").value = phone;
    editModal.querySelector("#edit-email").value = email;
    editForm.action = `/contact/edit/${index}`;
  });

  document.addEventListener("DOMContentLoaded", function () {
    const modalToOpen =
      "<%= typeof openModal !== 'undefined' ? openModal : '' %>";
    if (modalToOpen) {
      const modal = new bootstrap.Modal(document.getElementById(modalToOpen));
      modal.show();
    }
  });
</script>
